div{
   
    padding: 10px;
    margin: 10px;
}
.solid{
    border-style: solid;
}
.border-radius{
    border: 5px solid blue;
    border-radius: 10px;
}
.dashed{
    border: 5px dashed red;
}
.dotted{
    border:5px dotted violet;
}
.double{
    border: 5px double green;
}
.groove{
    border:5px groove purple;
}
.inset{
    border:5px inset orange;
}
.outset{
    border:5px outset blue;
}
.ridge{
    border:5px ridge red;
}
.costum{
    border:5px solid;
    border-top-color: red;
    border-right-color: blue;
    border-left-color: yellow;
    border-bottom-color: green;
}
.gradasi{
    border:5px solid;
    border-image: linear-gradient(to right, red, blue, yellow, green);
    border-image-slice: 1;
}