@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 2em;
  display: flex;
  justify-content: flex-end;
  img {
    width: 214.64px;
    height: 53px;
    top: 51px;
    left: 62px;
    gap: 0px;
    opacity: 0px;
  }
}
.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 2em;
}
.kanan {
    order: 1;
  display: flex;
  flex-direction: column;
  margin-top: 9em;
  padding: 1em;
  gap: 1em;
  font-family: "Poppins";
  h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .login-text {
    color: #313131;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  form {
    display: flex;
    flex-direction: column;
    table {
      td {
        padding: 0em 1em;
      }
    }
    td.terms {
      padding: 1em 1em;
    }
    .orange {
      color: #ff8682;
    }

    #firstname,
    #lastname,
    #email,
    #phone,
    #password,
    #confirm-password,
    button {
      width: 100%;
      padding: 1em;
    }
    button {
      border: none;
      border-radius: 5px;
      background-color: blue;
      color: white;
      cursor: pointer;
    }
    span.remember {
      margin: 1em 0 3em 0;
      display: flex;
      justify-content: space-between;
      .forgot-password {
        a {
          text-decoration: none;
          color: #ff8682;
        }
      }
    }
  }
  .signup-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    a {
      text-decoration: none;
      color: #ff8682;
    }
  }
  .or {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin: 1em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .icon {
    display: flex;
    justify-content: space-between;
    img {
      margin: 1em;
      padding: 1em 4em;
      border: 1px solid #515def;
      width: 10em;
      border-radius: 5px;
      gap: 0px;
      opacity: 0px;
    }
  }
}
.kiri {
  img {
    width: 486.42px;
    height: 816px;
    top: 104px;
    left: 104px;
    gap: 0px;
    opacity: 0px;
  }
}
