* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300..700&display=swap");
#font-cormorant {
  font-family: "Cormorant Garamond", serif;
}
#font-cormorant-light {
  font-family: "Cormorant Garamond", serif;
}
#font-cormorant-dark {
  font-family: "Cormorant Garamond", serif;
  background-color: black;
  h1,
  p {
    color: #fff;
  }
}
.container-atas {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 4em;
}
.container-atas h1 {
  font-size: 79px;
  font-weight: 700;
  line-height: 71.26px;
  text-align: center;
}
.container-atas i {
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  line-height: 20.59px;
  text-align: center;
}
.cormorant {
  padding: 3em;
  background-color: #fff;
}
.cormorant-bapa {
  padding: 3em;
  display: flex;
  justify-content: space-evenly;

  margin-left: 20%;
  margin-right: 20%;
}
.cormorantlight {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}

.cormorantregular {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorantmedium {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
}

.cormorantsemibold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
}

.cormorantbold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
}

.cormorantlight-i {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: italic;
}

.cormorantitalic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
}

.cormorantmedium-i {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: italic;
}

.cormorantsemibold-i {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: italic;
}

.cormorantbold-i {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: italic;
}
.c {
  margin-top: 11px;
}

.cormorant-abc {
  font-size: 23px;
  font-weight: 400;
  line-height: 27.85px;
  letter-spacing: 0.23em;
  justify-self: center;
  text-align: left;
}
.container-bawah {
  padding: 1em;
  font-size: 92px;
  font-weight: 400;
  line-height: 111.41px;
  text-align: center;
}
.the-quick {
  font-size: 29px;
  font-weight: 400;
  line-height: 33.26px;
  text-align: left;
  margin-bottom: 1em;
  margin-top: 10px;
}
#font-cormorant {
  background-color: #f9f8f3;
}
#font-ebgaramond{
  background-color: #f9f8f3;
}
/* font cormorant end */

/* font cormorant light start */
.cormorant-light,
.cormorant-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16em;
  h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 42.39px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .pcl-1 {
    margin-top: 1em;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.73px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .pcl-2 {
    margin: 10px;
    font-size: 150px;
    font-weight: 500;
    line-height: 181.65px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.cl2kk {
  display: flex;
  align-items: baseline;
  p {
    margin: 1em;
  }
  .ct {
    font-size: 100px;
    font-weight: 700;

    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .distilled-spirit {
    font-size: 70px;
    font-style: italic;
    font-weight: 300;

    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

/* font ebgaramond style start */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Quicksand:wght@300..700&display=swap");
#font-ebgaramond {
  font-family: "EB Garamond", serif;
}
#font-ebgaramond-dark{
  background-color: black;
  color: #fff;
}
