@import url("https://fonts.googleapis.com/css2?family=Iceland&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Iceland&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");
body {
  margin: 0;
  padding: 0;
  p {
    margin: 0;
  }
}
main {
  background-image: url(./assets/Background\ Doodle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#header {
  /* width: 100%; */
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff8f0c;
  color: white;
  font-family: "Iceland", cursive;
  font-size: 28px;
  font-weight: 400;
  line-height: 27.16px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
#nav-header {
  color: white;
  ul {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    list-style: none;
    li {
      margin: 1em;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
.hero {
  font-family: "Alfa Slab One", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 512px;
    height: 512px;
    top: -60px;
    left: 463px;
    gap: 0px;
    opacity: 0px;
  }
  .gede {
    font-family: "Alfa Slab One", cursive;
    font-size: 51px;
    font-weight: 400;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .want {
    color: #ff8f0c;
  }
  .kecil{
    text-align: center;
  }
  a {
    margin: 4em;
    margin-bottom: 7em;
    text-decoration: none;
    color: white;
    background-color: #ff8f0c;
    padding: 1em;
    border-radius: 5px;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
